body {
    font: 100% Lucida Sans, Verdana;
    margin: 20px;
    line-height: 26px;
    display: flex;
    flex-flow: row wrap;
    
    /*background-image: url("https://millionlive.idolmaster.jp/theaterdays/sp/images/top/spbgr_4.png");
    */
    background-position:left 50vh;
}