.other {
    text-transform: capitalize;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    line-height: 100%;
    align-items: center;
    font-size: 15vh;
    color: rgb(255, 0, 0);
}